.grading-criteria-table-container-mobile {
    display: flex;
    justify-content: center;
    background-color: #222222;
    padding: 0.5% 20% 25% 20%;
    color: white;
    font-family: 'Roboto';
    font-weight: 200;
    font-size: 1.2em;
    flex-direction: column;
    align-items: center;
}

.grading-criteria-header-mobile {
    text-align: center;
    color: #19b700;
    font-size: 2rem;
    font-weight: 900;
    padding: 6% 0% 6% 0%;
}

.grading-criteria-table-mobile {
    border-collapse: collapse;
    border: 2px solid #19b700;
    margin: 0;
    width: 110%;
}

.grading-criteria-table-mobile tr {
    padding-left: 4%;
    padding-right: 4%;
    display: block;
}

.grading-criteria-table-mobile th,
.grading-criteria-table-mobile td {
    padding: 0.5em;
}

.grading-criteria-table-mobile td {
    text-align: left;
    display: block;
    font-weight: 200;
}

#lastDataEntry {
    padding-bottom: 10%;
}

td[data-title] {
    padding-top: 10%;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
}

.grading-criteria-table-mobile tbody tr:nth-child(even) {
    background-color: rgba(25, 183, 0, 0.25);
}
