.awards-section-container {
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.awards-section-title {
    color: #19b700;
    font-family: 'Roboto';
    font-size: 2em;
    font-weight: 900;
    margin-top: 2%;
}

.awards-images-container {
    display: flex;
    align-items: flex-end;
    width: 50%;
    font-family: 'Roboto';
    margin: 4% 0;
}

#silver-img {
    max-width: 80%;
    margin-left: 10%;
}

#gold-img {
    max-width: 100%;
}

#bronze-img {
    max-width: 70%;
    margin-left: 15%;
    margin-bottom: 4%;
}

.award-money {
    font-weight: 900;
    font-size: large;
    display: flex;
    margin-top: 15%;
    justify-content: center;
}

#silver-money-amt {
    color: #c0c0c0;
}

#gold-money-amt {
    color: #ffd700;
}

#bronze-money-amt {
    color: #cd7f32;
}

#awards-info-text {
    color: white;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: large;
    margin-bottom: 5%;
}

.awards-section-info-text {
    width: 80%;
}

@media only screen and (max-width: 900px) {
    .awards-images-container {
        width: 70%;
        margin: 3% 0%;
    }

    #awards-info-text {
        margin-top: 5%;
        margin-bottom: 20%;
        font-size: small;
    }

    .award-money {
        font-size: medium;
        text-align: center;
    }

    #silver-img {
        margin-left: 8%;
    }

    #bronze-img {
        max-width: 70%;
        margin-left: 17%;
        margin-bottom: 4%;
    }
}

@media only screen and (max-width: 600px) {
    .awards-images-container {
        width: 90%;
        margin: 6% 0;
    }
}
