.journey-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.journey-mobile-title {
    display: flex;
    justify-content: center;
}
.mobile-step-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    width: 80%;
    margin-bottom: 5%;
}
.journey-mobile-content {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.container-title-displayed h2,
.container-content-displayed h2 {
    display: inline-block;
}
.container-content-displayed {
    display: block;
}
.container-content-not-displayed {
    display: none;
}

.container-title-not-displayed {
    display: none;
}

.container-title-displayed {
    display: block;
}
