.journey-mobile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.journey-mobile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.journey-mobile-title {
    margin-bottom: 5%;
}
.journey-mobile-content .mobile-steps {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 80vw;
    text-align: justify;
}
.mobile-line {
    border-radius: 4px;
    overflow: visible;
    border: 5px solid white;
    justify-items: center;
    align-items: center;
    display: flex;
    width: 10px;
    justify-content: center;
    height: 100px;
}
