.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6vh;
}
.footer-container p {
    color: white;
    margin-bottom: 0;
}
.footer-container .social-media {
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    height: 35px;
    width: 35px;
    overflow: visible;
    border-radius: 50%;
}
.footer-container .social-media svg {
    padding: 8px;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    overflow: visible;
}
.icon-footer {
    background: transparent;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.social-media {
    display: flex;
}

@media only screen and (max-width: 900px) {
    .footer-container {
        flex-direction: column;
        height: 10vh;
        padding-bottom: 1.5%;
    }
    .footer-container p {
        font-size: 0.9em;
    }

    .footer-container .social-media a svg {
        padding: 5px;
    }
}

@media only screen and (max-width: 300px) {
    .footer-container {
        font-size: 0.8em;
    }
}
