.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6vh;
    padding: 25px 0;
}
.footer-container p {
    color: white;
    font-weight: 450;
    margin-bottom: 0;
}
.social-media {
    display: flex;
}
.links {
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
}
.footer-container .social-media svg {
    padding: 6px;
    color: white;
    border: 2px solid transparent;
    overflow: visible;
}
.footer-icon {
    cursor: pointer;
}
@media only screen and (max-width: 900px) {
    .footer-container {
        flex-direction: column;
        height: 10vh;
    }
    .footer-container p {
        font-size: 0.9em;
    }

    .footer-container .social-media a svg {
        height: 4vh;
        width: auto;
    }
}

@media only screen and (max-width: 300px) {
    .footer-container {
        font-size: 0.8em;
    }
}
