.github/workflows @asynchroza @Isak-Bego @IvanObreshkov

.vscode @asynchroza

.devcontainer @Isak-Bego

data @asynchroza

services/web @Aleks1908 @asynchroza @Isak-Bego

**/Dockerfile @asynchroza @Isak-Bego @IvanObreshkov

**/*.yml @asynchroza @Isak-Bego @IvanObreshkov

**/*.sh @asynchroza @IvanObreshkov @Isak-Bego

Makefile @asynchroza @Isak-Bego @IvanObreshkov

**/*.conf @asynchroza

services/questionnaire @asynchroza @Aleks1908

services/py-api @asynchroza @IvanObreshkov @Isak-Bego

README.md @asynchroza @Isak-Bego @IvanObreshkov
