* @AUBGTheHUB/nosyncdev

/packages/api/** @asynchroza

/packages/web/src/components/admin_page/** @asynchroza @Aleks1908

.githooks/** @asynchroza

/packages/web/src/components/Navigation/** @asynchroza @Aleks1908 @IvanObreshkov @DemonHashira @annakukova

/packages/web/nginx.conf @IvanObreshkov