.team {
  max-width: 100rem;
  margin: 0;
  --slide-height: 19rem;
  --slide-spacing: 0.5rem;
  --slide-size: 50%;
  --slide-spacing-sm: 2rem;
  --slide-size-sm: calc(100% / 3);
  --slide-spacing-lg: 1rem;
  --slide-size-lg: calc(100% / 4);
  --text-high-contrast-rgb-value: #213547;
  --text-body: #ffffff;
  --detail-medium-contrast: rgba(40, 69, 168, 0.87);
}

.embla__viewport {
  overflow: hidden;
}

.team .embla__container {
  backface-visibility: hidden;
  display: flex;
  align-items: start;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.team .embla__slide {
  min-width: 0;
  flex: 0 0 var(--slide-size);
  padding-left: var(--slide-spacing);
}

.embla__slide__inner {
  position: relative;
  margin-bottom: 1.5rem;
}

.embla__controls {
  display: flex;
  justify-content: center;
  margin-top: 1.8rem;
}

.embla__buttons {
  display: none;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}

.team .embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-high-contrast);
  width: 2rem;
  height: 2rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}

.embla__button:disabled {
  color: var(--detail-medium-contrast);
}

.embla__button__svg {
  width: 35%;
  height: 35%;
}
.team .embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap:0.2rem;
  margin-left: calc((2.6rem - 1.4rem) / 2 * -1);
}

.team .embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.team .embla__dot:after {
  background-color: var(--detail-medium-contrast);
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}

.embla__dot--selected:after {
  background-color: var(--text-body) !important;
}

.embla:has(.embla__dot:only-child) .embla__controls {
  display: none;
}

@media (min-width: 640px){
  .embla__buttons{
    display: grid;
  }

  .embla__controls{
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    gap: 1.2rem;
  }

}

@media (min-width: 1122px) {
  .embla__container {
    margin-left: calc(var(--slide-spacing-sm) * -1);
  }

  .embla__slide {
    flex: 0 0 var(--slide-size-sm);
    padding-left: var(--slide-spacing-sm);
  }
}
@media (min-width: 1500px) {
  .team .embla__container {
    margin-left: calc(var(--slide-spacing-lg) * -1);
  }

  .team .embla__slide {
    flex: 0 0 var(--slide-size-lg);
    padding-left: var(--slide-spacing-lg);
  }
}
