* text=auto eol=lf
*.sh text eol=lf
*.sh text eol=lf
*.bash text eol=lf
*.py text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf
#blyat
