{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "alignObjectProperties": true,
  "multilineTernary": "always-multiline",
  "endOfLine": "auto",
  "printWidth": 80,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "avoid"
}