_Store
.env
.flaskenv
*.pyc
*.pyo
env/
__pycache__
venv/
.venv/
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
resources/docs/_build/
.vscode
instance/
.webassets-cache
.python-version
# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
*.log
