/* login form css */
.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
    height: 50vh;
    background-image: linear-gradient(rgb(21, 76, 121), rgb(57, 95, 105));
    color: #fff;
    height: 100vh;
}
.login-page form input {
    background-color: #4a4f51;
    border: 1px solid #7a7979;
    color: #fff;
}
.login-page form input::placeholder {
    color: #fff;
    opacity: 1;
}
.login-page form input:focus {
    background-color: #4a4f51;
    border: 1px solid #7a7979;
    color: #fff;
}
/* login form css */
.login-page h3 {
    padding-bottom: 2rem;
}

/* loading when checking if authenticated css*/
.loading-page {
    display: flex;
    background-image: linear-gradient(rgb(21, 76, 121), rgb(57, 95, 105));
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* client not validated response css */
.client-not-validated {
    display: flex;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* dashboard */
.dash {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(21, 76, 121), rgb(57, 95, 105));
}

.dash-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 89.7%;
    justify-content: center;
}

.card-dash-landing {
    margin: 1rem;
    width: 18rem;
    border: 1px solid #181a1b !important;
}
.card-dash-landing .card-body {
    background-color: #181a1b !important;
    color: #fff;
}
.container-cards {
    content: center;
    align-self: center;
    margin-left: 30vw;
    margin-right: 30vw;
}

.card-dash {
    margin: 1rem;
    width: 18rem;
}

/* members page */
.members-div {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* outside div for the whole render_members.jsx component */
/* whole purpose of this div is to add the button for adding new members */
.members-box-add-button {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgb(21, 76, 121), rgb(57, 95, 105));
    height: 100vh;
}

/* box where members get rendered in */
.members-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin-left: 10vw;
}

.member-card {
    margin: 0.5rem;
    border: 1px solid #181a1b !important;
}

.linkedin-button {
    margin-right: 0.25rem;
}
.member-card .card-body {
    background-color: #181a1b;
    color: #fff;
}
/* box which holds the card of a member */
.single-member-box {
    display: column;
    flex-direction: column;
    justify-content: center;
}

/* main box for holding the card of a member and the corresponding edit form */
.actions-single-member {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* box which holds the form for editing */
.member-form-edit {
    padding-top: 2rem;
    margin-left: 4rem;
}

.add-member-main-div {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* add padding to the bottom of the images in the dashboard cards */
.dashboard-card-images-padding {
    padding-bottom: 1rem;
}

/* add margin to the top of the actions button in RenderEvents */
.padding-top-button-render-events {
    margin-top: 0.25rem !important;
}

@media only screen and (max-width: 414px) {
    .dash {
        height: 100%;
    }
    .members-box {
        padding-top: 5px;
    }
    .members-box-add-button {
        height: 100%;
    }
}
