.jobs-section {
    background: linear-gradient(rgb(21, 76, 121), rgb(118, 181, 197));
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.jobs-card {
    display: flex;
    background-color: #fff;
    width: 70vh;
    margin-right: 3%;
    margin-left: 3%;
    border-radius: 5px;
    margin-bottom: 5%;
    height: 30vh;
}
.jobs-card .job-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.job-logo {
    width: 50%;
    height: 70%;
}
.jobs-info {
    display: flex;
}
.test {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.general-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.job-company {
    height: 30%;
}
.card-info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    height: 100%;
}
.more-info {
    width: 50%;
}
.jobs-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
