@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --main-color: #32baf4;
    --shadow-color: #467edd;
    --background-color: #f7f7f7;
    --font-family: 'Poppins';
    --text-color: #333;
    --placeholder-color: white;
}
.jobs-and-nav {
    background: linear-gradient(rgb(21, 76, 121), rgb(118, 181, 197));
}
.jobs-section {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.jobs-card {
    display: flex;
    background-color: #fff;
    width: 37.5vw;
    margin-right: 3%;
    margin-left: 3%;
    border-radius: 5px;
    margin-bottom: 5%;
    height: 44vh;
}
.jobs-card .job-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.job-logo {
    width: 50%;
    height: 75%;
}
.jobs-info {
    display: flex;
}
.test {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.general-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}
.job-company {
    height: 20%;
}
.card-info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    height: 100%;
}
.more-info {
    width: 60%;
    margin-top: 2.5%;
    display: flex;
    flex-direction: column;
}
.jobs-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.job-company {
    margin-top: -5%;
}
.job-logo {
    margin-top: -5%;
}
.job-description p {
    font-size: 1.1em;
    text-align: justify;
    margin: 0;
}
.job-description {
    width: 92%;
    margin-top: 5%;
    height: 45%;
}

.job-button a {
    border-radius: 4vh;
}

.job-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: end;

    align-items: center;
}
.job-button a {
    width: 36%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-decoration: none;
    height: 43px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    font-size: 1em;
    background-image: linear-gradient(
        to right,
        #32baf4,
        #467edd,
        #3f86ed,
        #47acdf,
        #24cc8e
    );
    transition: all 0.3s ease-in-out;
}

.job-button :hover {
    background-position: right;
    box-shadow: 0 6% 20% 0 rgba(65, 132, 234, 0.95);
    background-color: #fff;
    text-shadow: 1% 1% #4481eb;
    color: #fff;
}
.job-position {
    height: 30%;
    width: 75%;
}
.job-company h3 {
    text-align: center;
}
@media only screen and (max-width: 900px) {
    .card-info {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .general-info {
        width: 100%;
    }
    .more-info {
        width: 100%;
        align-items: center;
    }
    .jobs-card {
        height: 100%;
        width: 78vw;
        margin-left: 0;
        margin-right: 0;
    }
    .job-logo {
        margin: 0 !important;
        width: 30%;
        height: 10vh;
    }
    .job-company {
        height: 40%;
        margin: 0;
    }
    .job-button a {
        width: 35vw;
    }
    .job-position h3 {
        text-align: center;
    }
    .job-description p {
        font-size: 0.9em;
    }
    .job-position h3 {
        font-size: 1.1em;
    }
    .job-button {
        margin-bottom: 5%;
    }
    .job-description {
        height: 100px;
    }
}
@media only screen and (max-width: 300px) {
    .job-description {
        height: 18vh;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1100px) {
    .jobs-card {
        width: 50vw;
        height: 40vh;
    }
    .job-button {
        margin-top: 2%;
    }
}
