.about-container {
    display: flex;
    justify-content: center;
}
.about-container img {
    width: 60%;
    height: auto;
    margin-left: 15%;
    border-radius: 15px;
}
.about-information {
    width: 50%;
    color: white;
}
.about_image {
    width: 50%;
}
