.navmobile-body {
    position: absolute;
    height: 10vh;

    z-index: 1000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navmobile-button {
    height: 7.5vh;
    width: 7.5vh;
    color: white !important;
}

.navmobile-button-ham {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    margin: 20px;
    height: 55px;
    background-size: 300% 100%;
    border-radius: 100px;
    font-size: xx-large;
    background-image: linear-gradient(to right, #25aae1 0%, #24cc8e 24%);
}

.navmobile-menu.not-displayed {
    display: none;
}

.navmobile-menu {
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    background-color: #050328;
}

.navmobile-menu-backwards {
    top: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: -100vw;
    background-color: #050328;
    animation-name: toni-montana;
    animation-duration: 0.75s;
}

.navmobile-menu.forwards {
    animation-name: menu-animation;
    animation-duration: 0.75s;
    z-index: 1000;
}

@keyframes menu-animation {
    0% {
        left: -100vw;
    }
}

@keyframes toni-montana {
    0% {
        left: 0%;
    }
}

.navmobile-button-close {
    position: absolute;
    width: 7.5vh;
    height: auto;
    top: 0.75rem;
    right: 0.75rem;
    color: white !important;
    animation-name: menu-animation;
    animation-duration: 1s;
}

.navmobile-anchors-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 35vh;
}

.navmobile-anchors-container ul {
    font-size: xx-large;
    list-style: none;
    padding-left: 0rem !important;
}

.navmobile-anchors-container a {
    color: white;
    text-decoration: none;
}

.navmobile-anchors-container a:hover {
    color: var(--anchorHoverColor);
}

.navmobile-logo {
    height: 7.5vh;
    left: 2px;
    top: 3px;
}

.navmobile-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    position: fixed;
    background-color: rgba(24, 26, 27, 0.73) !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.navmobile-logo p {
    display: inline;
    color: white;
}

.navmobile-title {
    color: white;
}
.navmobile-title p {
    font-size: 25px;
}
