.navmobile-button {
    position: absolute;
    width: 10vw;
    height: 10vh;
    right: 0;
}

.navmobile-menu.not-displayed {
    display: none;
}

.navmobile-menu {
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 0;
    background-color: blue;
    animation-name: menu-animation;
    animation-duration: 0.75s;
}

@keyframes menu-animation {
    0% {
        left: -100vw;
    }
}

.navmobile-button-close.not-displayed {
    animation-name: menu-animation2;
    animation-duration: 0.75s;
}

.navmobile-button-close {
    position: absolute;
    width: 10vw;
    height: 10vh;
    right: 0;
    color: white !important;
    animation-name: menu-animation;
    animation-duration: 1s;
}
