.feature_switch {
    display: flex;
    background-color: #181a1b !important;
    width: 275px;
    justify-content: center;
    align-self: center;
    margin: 10px 25px;
    padding: 10px 0;
    flex-wrap: wrap;
    border-radius: 5px;
    color: #fff;
}

.feature_switch p {
    text-transform: capitalize;
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin: 0 !important;
    margin-top: 5px !important;
}

.feature_switch button {
    margin-top: 15px;
    width: 90%;
}

.button {
    margin: 0 10px;
}
.switches_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 90vh;
}

@media only screen and (max-width: 900px) {
    .switches_container {
        margin-top: 20px;
        align-content: flex-start;
        height: 100%;
    }
}
