.feature-switch {
    display: flex;
    background-color: #181a1b !important;
    width: 275px;
    justify-content: center;
    align-self: center;
    margin: 10px 25px;
    padding: 10px 0;
    flex-wrap: wrap;
    border-radius: 5px;
    color: #fff;
}

.feature-switch p {
    text-transform: capitalize;
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin: 0 !important;
    margin-top: 5px !important;
}

.feature-switch button {
    margin-top: 15px;
    width: 90%;
}

form .mb-3 input[type='text']:focus,
form .mb-3 input[type='text']:required {
    color: #000 !important;
}

.switches-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 90vh;
    align-content: center;
}
