.schedule-section-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    background-color: #fff;
    align-items: center;
    font-family: 'Roboto';
}

.schedule-section-title {
    padding-top: 7%;
    color: #19b700;
    font-weight: 900;
    font-size: 2em;
}

.schedule-text-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1vh;
    margin-left: 25%;
    margin-right: 25%;
}

.schedule-table-container {
    padding-bottom: 5%;
    width: 25vw;
    display: flex;
    flex-direction: column;
    font-weight: 400;
}

.schedule-table-title {
    padding: 5% 0% 10% 0%;
    color: #19b700;
    font-weight: 900;
    font-size: 1.4em;
}

.schedule-table-row {
    display: flex;
    flex-direction: row;
    padding-right: 1.5%;
}

.schedule-time {
    color: #19b700;
    font-weight: 900;
    font-size: 1.3em;
    padding-right: 30px;
}

.schedule-section-container p {
    font-size: 1.2em;
    width: 320px;
}

@media only screen and (max-width: 280px) {
    .schedule-text-container {
        margin: 0;
    }
}

@media only screen and (max-width: 900px) {
    .schedule-table-container {
        width: 80%;
    }
    .schedule-table-title {
        padding-top: 3%;
        padding-bottom: 3%;
    }
}

@media only screen and (max-width: 1100px) {
    .schedule-text-container {
        justify-content: space-evenly;
    }
}
