.schedule-section-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    align-items: center;
    font-family: 'Roboto';
    background: linear-gradient(#204829, #222222 50%);
    /*    background: linear-gradient(#57efc2, #222222);*/
    /*    background: linear-gradient(#222222, #57efc2);*/
    /*    background-image: linear-gradient(to bottom, #222222, #38404e, #3b647c, #278da3, #00b7bc, #00b7bc, #00b7bc, #00b7bc, #278da3, #3b647c, #38404e, #222222);*/
    /*background-image: linear-gradient(to bottom, #57efc2, #57efc2, #222222, #222222, #222222, #222222, #222222, #222222, #222222, #222222, #222222, #222222);*/
    /*background-image: linear-gradient(to bottom, #57efc2, #00b7bc, #307f98, #3b4b5e, #222222);*/
    /*background-image: linear-gradient(to bottom, #222222, #222222, #222222, #222222, #222222, #222222);*/
    /*background-image: linear-gradient(to bottom, #222222, #222222, #222222, #222222, #222222, #222222);*/
}

.schedule-section-title {
    padding: 7% 0% 0% 0%;
    color: #7de776;
    font-weight: 900;
    font-size: 2em;
    padding-bottom: 7%;
}

.schedule-text-container {
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1vh;
    margin-left: 5%;
}

.schedule-table-container {
    padding-bottom: 7%;
    margin-right: 3%;
    width: 320px;
    display: flex;
    flex-direction: column;
    font-weight: 400;
}

.schedule-table-title {
    padding: 5% 0% 10% 0%;
    color: #7de776;
    font-weight: 900;
    font-size: 1.4em;
    text-align: center;
}

.schedule-table-row {
    display: flex;
    flex-direction: row;
}

.schedule-time-hack-aubg {
    color: #19b700;
    font-weight: 900;
    font-size: 1.3em;
    padding-right: 30px;
}

.schedule-event-title-hack-aubg {
    font-size: 0.9em;
    width: 220px;
}

@media only screen and (max-width: 1050px) {
    .schedule-text-container {
        width: 80%;
    }
}
@media only screen and (max-width: 900px) {
    .schedule-text-container {
        flex-direction: column;
        align-items: center;
        width: auto;
        padding: 0%;
    }
    .schedule-section-container {
        align-items: normal;
        padding-top: 5%;
    }
    .schedule-section-title {
        text-align: center;
    }
    .schedule-table-title {
        padding: 5% 0% 5% 0%;
    }
    #friday-container {
        margin-right: 3%;
    }
    #saturday-container {
        margin-right: 3%;
    }
}

@media only screen and (max-width: 300px) {
    .schedule-table-container {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 400px) {
    .schedule-text-container {
        margin-left: 7%;
    }
    .schedule-table-container {
        width: 280px;
    }
}
