.mentors-section-container h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 1.7em;
    font-family: 'Press Start 2P', system-ui;
    width: 60%;
    position: absolute;
    top: 0px;
    background-color: #fb4298;
    padding: 1em 0px 1em 0px;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
    justify-content: center;
    height: 100%;
    align-self: center;
    margin-bottom: 0px !important;
}

.title {
    position: relative;
    display: flex;
    align-items: baseline;
    margin-bottom: 40px;
    gap: 0vw;
    align-content: flex-start;
}

.mentors-section-container {
    position: relative;
    margin-top: 5vw;
}

.tedko-container img {
    border: 1.5vw #402f5c solid;
    height: 20vw;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    margin: 0px !important;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.carousel {
    position: relative;
    left: 7%;
    height: 100%;
    max-width: 85%;
}

.text-bottom {
    position: relative;
    margin-top: 0px;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    width: 20vw;
    font-size: 90%;
    font-weight: 500;
    left: 50%;
    transform: translate(-50%, 0);
}

.names {
    background-color: #c0f589;
    border: 1px black solid;
    font-size: 1.5vw;
    margin-bottom: 0;
    position: relative;
}

.position {
    background-color: #c0f589;
    border: 1px black solid;
    width: 47% !important;
    min-height: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-wrap: balance;
}

.pacman-left {
    position: relative;
    width: 10vw;
    height: 6vw;
    left: 5%;
    align-self: center;
}

.company {
    background-color: #c0f589;
    border: 1px black solid;
    width: 53% !important;
    justify-content: center;
    display: flex;
    align-items: center;
    text-wrap: balance;
}

.bonus-info {
    display: flex;
    font-size: 1vw;
    min-height: 4.5vw;
}

.mentors-coming-soon-container {
    padding-top: 4%;
    padding-bottom: 5%;
    color: #fb4298;
    text-align: center;
}

@media only screen and (max-width: 700px) {
    .bonus-info {
        font-size: 1.5vw;
    }

    .tedko-container img {
        height: 30vw;
    }

    .text-bottom {
        width: 30vw;
    }

    .title {
        height: 8vw;
    }
}
