@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400&family=Press+Start+2P&display=swap');

.landing-page {
    display: flex;
    height: 100vh;
}

.landing-page button,
input[type='submit'],
input[type='reset'] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.landing-page .title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.landing-page .title h1 {
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 80px;
}

.landing-page .title h2 {
    color: white;
    /* change-font */
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    margin-top: 10px;
}

.landing-page .register-button {
    margin-top: 50px;
    display: flex;
    align-items: center;
    padding: 40px;
    border: 3px solid rgb(216, 194, 251);
    color: rgb(216 194 251);
}

.landing-page .register-button h1 {
    color: rgb(216 194 251);
    padding-right: 10px;
    /* change-font */
    /* font-family: ; */
}

.landing-page .register-button:hover {
    margin-top: 50px;
    display: flex;
    align-items: center;
    padding: 40px;
    background-color: rgb(216, 194, 251);
    border: 3px solid rgb(216, 194, 251);
    h1 {
        color: #fff;
    }
}
.landing-page .register-button h1 {
    font-size: 30px;
    margin: 0;
}
