.grading_criteria {
    color: white;
    display: flex;
    width: 100%;
    font-family: 'Press Start 2P', 'Roboto', sans-serif;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

.grading_criteria th {
    font-size: 17px;

    padding-bottom: 15px;
}

.grading_criteria_col {
    max-width: 50%;
}

.grading_criteria_section {
    display: flex;
    min-width: 100%;
    justify-content: center;
}

.grading_criteria_table {
    width: 100%;
    margin: 0 10px;
}

tr > td {
    padding: 1.3em 0;
}

.points {
    text-align: center;
}

.grading_criteria_wrapper {
    margin: 25px 0;
    width: 80%;
    display: flex;
    justify-content: space-around;
    border: 2px solid red;
}

.table_wrapper {
    width: 50%;
    display: flex;
}

.left {
    padding: 60px 30px 60px 60px;
}
.right {
    padding: 60px 60px 60px 30px;
}

.line {
    height: 0;
    border: transparent;
}

.total_points {
    padding-top: 30px;
    text-align: right;
    padding-bottom: 0 !important;
}

@media screen and (max-width: 1000px) {
    .grading_criteria_wrapper {
        flex-wrap: wrap;
    }

    .grading_criteria_table {
        width: 95%;
        margin: 10px 10px;
    }

    .table_wrapper {
        width: 100%;
        display: flex;
    }
    .line {
        /* margin: 0 100px; */
        width: 100%;
        height: 5px;
        border-bottom: 2px solid red;
    }
}

/* table,
th,
td {
    border: 1px solid white;
} */
