.journey-desktop-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 11%;
    padding-right: 11%;
}

.journey-desktop-title {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fb4298;
    margin-bottom: 3em;
}

.journey-desktop-title h1 {
    font-size: 1.7em;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Press Start 2P', 'Roboto', sans-serif;
    margin: 0.3em 0;
}

.journey-desktop-content {
    margin-bottom: 1%;
    font-size: 1.1em;
}

.journey-desktop-content h2 {
    font-size: 1.875em;
    color: #dbbfff;
    text-shadow: 0px 2px 2px #a26df7;
    font-family: 'Post No Bills Jaffna';
    margin: 0;
}

.journey-desktop-step {
    display: flex;
    justify-content: space-between;
}

.journey-desktop-step-info-heading {
    display: flex;
    align-items: center;
    padding: 0.3em 0;
    gap: 0.5em;
}

.journey-desktop-step-info-heading img {
    width: 55px;
}

.journey-desktop-step-info p {
    padding: 0.3em 0;
    color: white;
}

.journey-desktop-step-info {
    width: 60%;
}

.journey-desktop-step-visuals-blur,
.journey-desktop-step-visuals-figure {
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
}

.journey-desktop-step-visuals {
    position: relative;
}

#step-1-trail {
    transform: translateX(400%);
}

#step-2-trail {
    transform: translateX(360%);
}

#step-3-trail {
    transform: translateX(180%);
}

#step-4-trail {
    transform: translateX(167%);
}
