@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';

/* never work with body and html  */
/* because the changes you make here will be global */
/* and might break other implementations dependant  */
/* on the current state of the body element */

/* .container {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
} */

/* .text {
    font-weight: 100;
    font-size: 28px;
    color: #fafafa;
} */

/* .dud {
    color: #757575;
} */
