/* 
    To fix:
    1. Font responsiveness for h1 title!
    2. Center paragraph text in the middle 
    3. Height change for resposnsiveness (critical: 800-1000px)
    
*/

.animation-container {
    height: 30vw;
    background: #000;
    background-image: url('/public/gif.gif');
    background-size: cover;
    background: fit-content;
    align-items: center;
    justify-content: center;
    display: flex;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.landing-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
    margin-top: 4%;
}

.landing-content h1 {
    font-size: 4em;
}

.landing-content p {
    font-size: 1em;
    margin: 4% 0 6% 0;
    width: 90%;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 900px) {
    .landing-content h1 {
        font-size: 1.5em;
    }
    .landing-content p {
        font-size: 0.9em;
        padding: 2% 0 2% 0;
        text-overflow: clip;
    }
    .Reg-btn {
        font-size: 0.5rem;
        padding: 1% 3% 1% 3%;
    }
    .animation-container {
        height: 70vw;
    }
}

/* Register button */

.Reg-btn {
    width: fit-content;
    color: #19b700;
    align-items: center;
    display: flex;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    background-color: white;
    padding: 3% 6% 3% 6%;
}

.Reg-btn:hover {
    background-color: #19b700;
    color: white;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
