.main {
    background: linear-gradient(rgb(21, 76, 121), rgb(118, 181, 197));
    height: 100%;
    width: 100vw;
    overflow: hidden;
}

.main-body {
    width: 100vw !important;
    overflow-x: hidden !important;
    scroll-behavior: smooth;
}
