.navbar-main-box {
    height: 100vh;
    width: 7.5vw;
    position: fixed;
    left: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    height: 10vh;
    margin: 2vw;
    width: 5vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: blue;
    color: white;
}
