@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #18305F;
    font-family: 'Montserrat', sans-serif;
}

.about-section{
    --primary: #18305F;
    --accent: #3348FF;
    --accent-foreground: white;
    --card: white;
    --card-foreground: #151515;
}

.meet-team{
    --accent: rgb(255,255,255,0.6);
    --background:transparent;
    --input:  rgb(67,67,67);
    --accent-foreground: #26368E;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
