body {
    /* position: relative; */
    width: 100vw !important;
    overflow-x: hidden !important;
    /* -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-overflow-scrolling: none; */
}

/* body::-webkit-scrollbar {
    -webkit-appearance: none !important;
    width: 0px !important;
    background: transparent !important;
} */
