.members-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.members-card {
    position: relative;
    width: 20vw;
}

.members-card-pfp {
    width: inherit;
}

.hidden {
    display: none;
}

.members-card-hover-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    animation-name: in-hover-lay;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes in-hover-lay {
    to {
        background-color: black;
        color: white;
    }
}
