.video-container {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P';
    padding: 2% 0%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.video-header {
    width: 60%;
    color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px 75px;
    background-color: #fb4298;
    text-align: center;
    font-weight: 400;
    font-size: 1.7rem;
    margin: 5px 75px 75px 75px;
}

.video {
    height: 547px;
    left: 80px;
    top: 8244px;

    filter: drop-shadow(0px 4px 16px #ffc8e2);
}

@media only screen and (max-width: 900px) {
    .video-container {
        padding-top: 10%;
        padding-bottom: 5%;
    }
    .video-header {
        font-size: 1.1em;
        text-align: center;
        width: 80%;
    }
    .video {
        padding-left: 10%;
        padding-right: 10%;
        justify-content: center;
        align-items: center;
        display: flex;
        height: 49vh;
        width: 100%;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1300px) {
    .video-header {
        font-size: 1.7em;
    }
}

@media only screen and (min-width: 1300px) {
    .video {
        width: 1200px;
    }
}
