.form {
    display: flex;
    color: white;
    /* flex-wrap: wrap; */
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form_header {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form_header h1 {
    background-color: #fb4298;
    width: 80%;
    text-align: center;
    font-size: 1.7em;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Press Start 2P', 'Roboto', sans-serif;
    padding: 0.6em 0;
}

.team_name h2 {
    margin-top: 40px;
    font-family: 'Press Start 2P', 'Roboto', sans-serif;
    text-align: center;
}

.form_container {
    justify-content: center;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 70%;
    align-items: center;
}

.form_row {
    display: flex;
    width: 90%;
    justify-content: center;
}

.form_row .form_cell {
    margin: 10px;
    padding: 15px 15px 0px 15px;
    background-color: rgb(30 30 30);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 150px;
}

.form_row:last-child .form_cell {
    width: 48%;
}

.form_row .form_cell label {
    min-height: 49%;
    font-size: 20px;
}

.form_row .form_cell input {
    /* padding-top: 10px; */
    font-size: 20px;
    outline: none;
    border: none;
    background-color: rgb(30 30 30);
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    color: #fff;
}

.form_row .form_cell input:focus {
    outline: none;
    border-bottom: 1px solid #fff;
}

.form_row .form_cell select {
    width: 100%;
    background-color: rgb(30 30 30);
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    height: 27%;
}

.form_row .form_cell select:focus {
    outline: none;
    border-bottom: 1px solid #fff;
}

.radio_group {
    display: flex;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 7.5px;
}

.radio_group input {
    width: 8%;
    cursor: pointer;
    height: 90%;
}

.radio_group label {
    cursor: pointer;
}

.radio_group input[type='radio'] {
    accent-color: rgb(231 82 150);
}

.radio_group label {
    font-size: 15px !important;
}

.checkbox_container {
    padding-top: 10px;
    display: flex;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 7.5px;
    flex-direction: column;
    align-items: flex-start;
}

.checkbox_container label {
    margin-right: 10px;
}

.error_msg {
    padding-top: 5px;
}

.error_msg p {
    margin: 0 !important;
}

.form_cell:disabled ~ label {
    color: #888;
}

.reg_submit {
    margin-top: 20px;
    padding: 15px 60px !important;
    background-color: transparent !important;
    border: 2.5px solid rgb(148 255 0) !important;
    color: rgb(148 255 0) !important;
    font-family: 'Post No Bills Jaffna' !important;
    font-size: 25px !important;
    letter-spacing: 2px !important;
    transition: 0.2s;
}

.reg_submit:hover {
    background-color: rgb(148 255 0) !important;
    color: #000 !important;
    transition: 0.2s;
}

@media screen and (max-width: 1200px) {
    .form_container {
        width: 90%;
    }
    .form_header h1 {
        font-size: 1.3rem;
    }
    .team_name {
        display: flex;
        justify-content: center;
    }
    .team_name h2 {
        width: 80%;
        font-size: 1.3rem !important;
    }
}

@media screen and (max-width: 800px) {
    .form_container {
        width: 90% !important;
    }
    .form_row {
        flex-wrap: wrap;
    }
    .form_row .form_cell {
        width: 100%;
        /* height: 190px; */
    }

    .form_cell label {
        font-size: 1rem !important;
    }

    .form_cell input {
        font-size: 1rem !important;
    }
    .form_header h1 {
        font-size: 1.1rem;
    }

    .team_name h2 {
        font-size: 1.1rem !important;
    }
    .form_row:last-child .form_cell {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .error_msg {
        font-size: 0.7rem;
    }
}

/* remove input numer arrow */
/* Chrome, Safari, Edge, Opera */
.form_cell input::-webkit-outer-spin-button,
.form_cell input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.form_cell input[type='number'] {
    -moz-appearance: textfield;
}

.form_cell:disabled ~ label {
    color: red;
}

.disabled {
    opacity: 0.5; /* Makes the input semi-transparent */
    background-color: #ccc;
    user-select: none;
}

.disabled input {
    user-select: none;
}
