.registration-main {
    background-color: #222222;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 6%;
    padding-bottom: 5%;
    width: 100%;
}

.registration-main h1 {
    color: #19b700;
    margin-bottom: 4%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.reg-form {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .personal-info,
.university, 
.shirt-size, 
.referrer,
.skills,
.job-interests,
.programming-level,
.team-section {
    display: flex;
    flex-direction: column;
} */

.reg-form button {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}

/* .reg-form label {
    display: block;
} */

/* .reg-form .register-btn {
    margin-top: 5%;
}

.reg-form select {
    display: flex;
    flex-direction: row;
} */

.register-btn {
    width: fit-content;
    color: #19b700;
    align-items: center;
    display: flex;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    background-color: white;
    padding: 0.8% 6% 0.8% 6%;
}

.register-btn:hover {
    background-color: #19b700;
    color: white;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.from-personal-info {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}

.send-info {
    width: 40%;
    height: 80px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
}
.send-info label {
    display: flex;
    flex-direction: column;
    align-self: center;
}
.send-info input,
.send-info select {
    height: 45px;
    width: 100%;
    border-radius: 7.5px;
    margin-top: 2%;
}
.send-info input::placeholder {
    padding-left: 1%;
}
/* .radio-btn {
    width: fit-content;
    align-items: center;
    display: flex;
}
.radio-btn .radio-no {
    margin-left: 40%;
}
.radio-btn input {
    margin-top: 0.78%;
} */
.radio-text {
    height: 60%;
}

.radio-btn .radio {
    width: 5%;
}
.radio-btn {
    display: contents;
}
.radio-select {
    display: flex;
}
.radio-select label {
    font-size: 1.05rem;
}
.radio-btn .radio {
    margin-top: 0;
    margin-left: 2%;
    margin-right: 2%;
}
@media only screen and (max-width: 900px) {
    .send-info {
        width: 100%;
        height: initial;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    /* .radio-btn {
        width: 60px;
    }
    .radio-btn .radio-no {
        margin-left: 35%;
    } */
    .from-personal-info {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
    }
}
input[type='radio'] {
    -webkit-appearance: radio;
}

.registration-main .instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.registration-main .instructions > svg {
    margin-right: 0.25rem;
}

.registration-main .offscreen {
    position: absolute;
    left: -9999px;
}

.registration-main .hide {
    display: none;
}

.registration-main .valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.registration-main .invalid {
    color: red;
    margin-left: 0.25rem;
}

.registration-main .errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
