.form {
    display: flex;
    color: white;
    /* flex-wrap: wrap; */
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 70%;
    align-items: center;
}

.form_row {
    display: flex;
    width: 90%;
}

.form_row .form_cell {
    margin: 10px;
    padding: 15px 15px 0px 15px;
    background-color: rgb(30 30 30);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 150px;
}

.form_row .form_cell label {
    min-height: 49%;
    font-size: 20px;
}

.form_row .form_cell input {
    /* padding-top: 10px; */
    font-size: 20px;
    outline: none;
    border: none;
    background-color: rgb(30 30 30);
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    color: #fff;
}

.form_row .form_cell input:focus {
    outline: none;
    border-bottom: 1px solid #fff;
}

.form_row .form_cell select {
    width: 100%;
    background-color: rgb(30 30 30);
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    height: 27%;
}

.form_row .form_cell select:focus {
    outline: none;
    border-bottom: 1px solid #fff;
}

.radio_group {
    display: flex;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 7.5px;
}

.radio_group input {
    width: 8%;
    height: 90%;
}

input[type='radio'] {
    background-color: red;
    accent-color: rgb(231 82 150);
}
.radio_group label {
    font-size: 15px !important;
}

.error_msg {
    padding-top: 5px;
}

.error_msg p {
    margin: 0 !important;
}

.form_cell:disabled ~ label {
    color: #888;
}

@media screen and (max-width: 1200px) {
    .form_container {
        width: 90%;
    }
    /* input[type='radio']:after {
        top: -1vw !important;
    } */
}

/* @media screen and (max-width: 900px) {
    input[type='radio']:after {
        top: -1.2vw !important;
    }
} */

@media screen and (max-width: 800px) {
    .form_container {
        width: 90% !important;
    }
    .form_row {
        flex-wrap: wrap;
    }
    .form_row .form_cell {
        width: 100%;
    }

    /* input[type='radio']:after {
        width: 2vw;
        height: 2vw;
        border-radius: 15px;
        top: -14.5px;
        left: 16.5px;
    } */
    /* input[type='radio']:after {
        top: -1.5vw !important;
        left: 1vw !important;
    } */
}

/* @media screen and (max-width: 800px) {
} */
