.registration-main {
    height: fit-content;
    background-color: #222222;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 6%;
    padding-bottom: 5%;
}

.registration-main h1 {
    color: #19b700;
    margin-bottom: 4%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.reg-form {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-btn {
    width: fit-content;
    color: #19b700;
    align-items: center;
    display: flex;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    background-color: white;
    padding: 0.8% 6% 0.8% 6%;
}

.register-btn:hover {
    background-color: #19b700;
    color: white;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
