.verfication-container {
    width: 45vw;
    height: 45vh;
    border: 3px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 15px 0px #f8c0ff;
    background-color: #f8c0ff;
    z-index: 9999;
}

.top-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
    background-color: #f8c0ff;
}

.sample-buttons-container {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    display: flex;
    background-color: white;
}

.sample-button,
.sample-button-edit {
    border-right: 3px solid black;
    display: flex;
    flex-basis: 90px;
    justify-content: center;
    align-items: center;
    padding: 13px;
    -webkit-user-select: none;
    user-select: none;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.sample-button-edit {
    background-color: #f8c0ff;
}

.svg-minimize svg {
    height: 2.2em;
    width: 1.5em !important;
}

svg {
    padding: 4px;
}

.verify-button-container {
    display: flex;
    height: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.verify-button {
    width: 18vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: white;
    border: 3px solid black;
    font-size: 30px;
    font-weight: 500;
    font-family: 'IBM Plex Mono', monospace;
    cursor: pointer;
    padding: 60px 0px;
}

.error-message,
.success-message {
    color: black;
    font-size: 16px;
    font-family: 'IBM Plex Mono', monospace;
    margin: 20px 10px 0px 10px;
    padding: 10px;
    border: 2px solid red;
    border-radius: 10px;
    text-align: center;
    background-color: white;
}

.success-message {
    border: 2px solid rgb(0, 192, 0);
}

@media (min-width: 1025px) and (max-width: 1400px) {
    .verify-button {
        width: 25vw;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .button-message {
        display: none;
    }

    .help-button-border div {
        border-right: none !important;
    }

    .verfication-container {
        width: 40vw;
        height: 40vh;
    }

    .verfication-container.message-shown {
        height: 45vh;
    }

    .verify-button-container.message-shown {
        margin-top: 12px;
    }

    .verify-button {
        width: 25vw;
        height: 10vh;
        font-size: 30px;
    }

    .sample-button,
    .sample-button-edit {
        font-size: 14px;
        padding: 10px;
    }
}

@media (max-width: 600px) {
    .button-message {
        display: none;
    }

    .help-button-border div {
        border-right: none !important;
    }

    .verfication-container {
        height: 35vh;
    }

    .verfication-container.message-shown {
        height: 50vh;
    }

    .verify-button-container.message-shown {
        margin-top: 22px;
    }

    .verify-button {
        width: 38vw;
        height: 10vh;
        font-size: 25px;
    }

    .sample-button,
    .sample-button-edit {
        font-size: 12px;
        padding: 8px;
    }
}

@media (max-width: 420px) {
    .button-message {
        display: none;
    }

    .sample-buttons-container {
        display: none;
    }

    .verify-button {
        width: 36vw;
        height: 10vh;
        font-size: 25px;
    }

    .verfication-container {
        height: 35vh;
    }

    .verfication-container.message-shown {
        height: 50vh;
    }

    .verify-button-container.message-shown {
        margin-top: 22px;
    }
}
