.judges-container {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto';
    padding: 3% 0%;
    background-color: #222222;
}

.judges-header {
    text-align: center;
    color: #19b700;
    padding: 1% 0;
}

.judges-picture {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}

.judges-picture img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}
