/* .judges-section-container h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 1.7em;
    font-family: 'Press Start 2P', system-ui;
    width: 60%;
    position: absolute;
    top: 0px;
    background-color: #fb4298;
    padding: 1em 0px 1em 0px;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
    justify-content: center;
    height: 100%;
    align-self: center;
    order: 2;
    margin: 0px !important;
} */

/* .title {
    position: relative;
    display: flex;
    align-items: baseline;
    gap: 0vw;
    height: fit-content;
    margin-bottom: 40px;
    flex-direction: row-reverse;
    align-content: flex-start;
} */

.title-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.title-container h1 {
    text-align: center;
    font-family: 'Press Start 2P', system-ui;
    color: #fff;
    background-color: #fb4298;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
    margin: 0 !important;
    /* margin-right: 5vh; */
}

.title {
    display: flex;
    width: 60%;
    justify-content: flex-end;
    padding: 10px 0;
}

.pac {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 25%;
    padding-left: 10px;
}
.judges-section-container {
    position: relative;
    margin-top: 5vw;
}

.judges-coming-soon-container {
    padding-top: 4%;
    padding-bottom: 5%;
    color: #fb4298;
    text-align: center;
}

.pacman-right {
    width: auto;
    height: 5vw;
}

@media only screen and (max-width: 1000px) {
    .title-container h1 {
        font-size: 1.1em;
        width: 70%;
    }
    .title {
        width: 100%;
        justify-content: flex-end;
    }
    .pac {
        width: 30%;
        justify-content: space-between;
    }
}
