@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --elem-Height: 200px;
}

.faqmobilesection {
    overflow: hidden;
}

.faqmobiletitle {
    margin-bottom: 5%;
}

.faqmobiletitle h1 {
    color: white;
    font-weight: 900;
    font-size: 2em;
    text-align: center;
}

.faqmobilestepcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3em;
    margin-top: 0%;
    width: 80%;
    border-bottom: 2px #c7c9d5 solid;
    cursor: pointer;
}

.faqh2 {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-top: 4%;
    margin-bottom: 4%;
    font-family: 'IBM Plex Mono';
}

.faqh2 h2 {
    padding: 0 !important;
}

.faqmobilestepcontainer h2 {
    color: #ffffff;
    font-size: 1.2em;
    width: 91%;
    display: flex;
    align-items: center;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.faqmobilestepcontainer p {
    color: #e0e0e0;
    font-size: 1em;
    text-align: justify;
    padding: 0 5% 3% 5%;
}

.faqmobilecontent {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.faqcontainercontentnotdisplayed {
    height: 0;
    overflow: hidden;
    animation: slideout ease-in-out 0.5s;
    font-family: 'IBM Plex Mono';
}

.faqcontainercontentdisplayed {
    overflow: hidden;
    animation: slidein ease-in-out 0.5s;
    font-family: 'IBM Plex Mono';
}

.faqarrowdisplayed {
    display: flex;
    align-items: center;
    width: 15%;
    justify-content: flex-end;
    color: #fb4298;
}

.faqarrownotdisplayed {
    display: none;
}

.faqsteptitle {
    display: flex;
    width: 100%;
    justify-content: center;
}

@keyframes slidein {
    0% {
        height: 0px;
    }

    100% {
        height: var(--elem-Height);
    }
}

@keyframes slideout {
    0% {
        height: var(--elem-Height);
    }

    100% {
        height: 0px;
    }
}

@media only screen and (max-width: 700px) {
    .faqmobilestepcontainer h2 {
        font-size: 1em;
    }
    .faqmobilestepcontainer p {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 500px) {
    .faqmobilestepcontainer h2 {
        font-size: 0.85em;
    }
    .faqmobilestepcontainer p {
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 400px) {
    .faqmobilestepcontainer h2 {
        font-size: 0.8em;
    }
    .faqmobilestepcontainer p {
        font-size: 0.65em;
    }
}
