.faq {
    position: relative;
    display: flex;
    flex-direction: column;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 100;
    margin-bottom: 10%;
    align-items: center;
}

.faq-h1 {
    display: flex;
    color: #ffffff;
    font-size: 200%;
    font-family: 'Press Start 2P', system-ui;
    width: 85%;
    position: relative;
    background-color: #fb4298;
    padding: 15px 0px 10px 0px;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
    justify-content: center;
    height: 66px;
    margin-bottom: 40px;
}

@media only screen and (max-width: 900px) {
    .faq-h1 {
        font-size: 5vw;
    }

    .left-svg {
        width: 30%;
    }

    .right-svg {
        width: 30%;
    }
}

.left-svg {
    position: absolute;
    z-index: -100;
    top: 10%;
    height: 40vw;
    width: 20vw;
}

.right-svg {
    position: absolute;
    z-index: -100;
    right: 0;
    top: 30%;
    height: 40vw;
    width: 30vw;
}

.faq-section {
    position: relative;
}
