@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Press+Start+2P&display=swap');

.faq {
    position: relative;
    left: 7%;
    z-index: 100;
    margin-bottom: 10%;
}

.faq-h1 {
    color: #ffffff;
    font-size: 200%;
    font-family: 'Press Start 2P', system-ui;
    width: 85%;
    position: relative;
    left: 6%;
    background-color: #fb4298;
    padding: 15px 0px 10px 0px;
    text-align: center;
    justify-content: center;
    height: 66px;
    margin-bottom: 40px;
}

@media only screen and (max-width: 900px) {
    .faq-h1 {
        font-size: 5vw;
    }

    .left-svg {
        width: 30%;
    }

    .right-svg {
        width: 30%;
    }
}

.left-svg {
    position: absolute;
    z-index: -100;
    top: 10%;
    height: 100%;
}

.right-svg {
    position: absolute;
    z-index: -100;
    right: 0;
    top: 30%;
    height: 90%;
}

.faq-section {
    position: relative;
}
