.faq-container {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2% 0;
    font-family: 'Roboto';
}

.faq {
    font-size: 2rem;
    padding: 2% 0;
    color: #19b700;
}

.faq-header,
.faq-text-container {
    width: 60%;
    text-align: left;
}

.faq-header {
    font-size: 1.2rem;
    color: #19b700;
    font-weight: bold;
}

.faq-text {
    text-align: justify;
}

@media only screen and (max-width: 1000px) {
    .faq-text-container {
        width: 100%;
        padding-left: 11%;
        padding-right: 11%;
    }

    .faq-container {
        margin-bottom: 10%;
    }
}
