.faq-container {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4% 0;
    font-family: 'Roboto';
}

.faq {
    display: flex;
    font-size: 2rem;
    padding: 2% 0;
    color: #19b700;
    font-weight: 900;
    font-size: 2em;
    align-items: center;
    text-align: center;
}

.faq-text-container {
    width: 60%;
    text-align: left;
}

.faq-header {
    width: 60%;
    font-size: 1.2rem;
    color: #19b700;
    font-weight: bold;
}

.faq-text {
    text-align: justify;
}

@media only screen and (max-width: 1000px) {
    .faq-text-container {
        width: 100%;
        padding-left: 11%;
        padding-right: 11%;
    }

    .faq-container {
        margin-bottom: 10%;
    }

    .faq {
        margin-bottom: 3%;
        margin-top: 4%;
        /* width: 90%; */
        text-overflow: wrap;
    }

    .faq-header {
        width: 100%;
    }
}

@media only screen and (max-width: 450px) {
    .faq {
        width: 90%;
        text-overflow: wrap;
    }
}
